@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

.main {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  padding: 6rem;
  min-height: 50vh;
  font-family: "Roboto", sans-serif;
  background-color: var(--almond);
}

.link {
  color: var(--rawUmber);
  font-weight: 500;
  font-size: 1.5rem;
  text-decoration: none;
  border: solid;
  padding: 0.6rem;
  border-radius: 7px;
  transition: 0.2s;
  user-select: none;
  margin-top: -10rem;
}

.link:hover {
  transform: translateY(-5px);
  background-color: var(--dun);
  transition: 0.2s;
}

.link:active {
  transform: translateY(5px);
}

.headerContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.primaryHeader {
  color: var(--coffee);
  font-weight: 1000;
  font-size: 3rem;
  margin: 0px;
}

.secondaryHeader {
  color: var(--coffee);
  font-weight: 400;
  font-size: 2rem;
  margin: 0px;
}

.useEffectThreeButton {
  color: var(--rawUmber);
  font-weight: 500;
  font-size: 1.2rem;
  text-decoration: none;
  border: solid;
  padding: 0.6rem;
  border-radius: 7px;
  transition: 0.2s;
  user-select: none;
  margin-top: -10rem;
  background-color: var(--almond);
}

.useEffectThreeButton:hover {
  transform: translateY(-5px);
  background-color: var(--dun);
  transition: 0.2s;
}

.useEffectThreeButton:active {
  transform: translateY(5px);
}

.counter {
  color: var(--rawUmber);
  font-size: 1.8rem;
  font-weight: 500;
  user-select: none;
}

.backgroundColour {
  height: 98.3vh;
  background-color: var(--almond);
}